<h1>Relative standby / all time</h1>
<style>
    body {
        font-size: large;
    }
    h1{
        font-size: xxx-large;
    }
</style>
<ul>
    <li>
      <%= @relative_standby %>
    </li>
</ul>
